.article {
    border: 1px solid black;
    width: 60%;
    padding: 0 1%;
    float: left;
    text-align: justify;
}
.article img {
    display: block;
    margin: auto;
}

aside {
    float: right;
    width: 20%;
    border: 1px solid black;
}
aside img {
    background-color: black;
    padding: 0 37%;
}
aside ol, aside ul {
    padding: 0;
}

.detail_article {
    background-color: lightgrey;
    width: 100%;
    margin-bottom: 3%;
}
.detail_article a {
    float: right;
    color: black;
    text-decoration: underline;
}


