<aside>
    <img src="/images/vips.png" alt="VIPs">
    <ul>
        <li><a href="/adminVip/A">Ajouter</a></li>
        <li><a href="/adminVip/M">Modifier</a></li>
        <li><a href="/adminVip/D">Supprimer</a></li>
    </ul>
</aside>
