<div class="row">
    {{#each galerie}}
        <div class="col-4 d-table-cell p-1">
            <a href="/photoDetail/{{this.NUM}}/1"><img src="/images/vip/{{this.PIC}}" class="img-aside"></a>
        </div>
    {{/each}}
</div>
{{#if of}}
<div class="row">
    <a href="/album/9/null"><div><span><< Début</span></div></a>
    <a href="/album/{{of/OF}}/-"><div><span>< Précédent</span></div></a>
    <a href="/album/{{of/OF}}/+"><div><span>Suivant ></span></div></a>
    <a href="/album/9/end"><div><span>Fin >></span></div></a>
</div>
{{/if}}


