<form action="/accueil">
    <label for="login">Login : </label>
    <input type="text" id="login">
    <label for="password">Mot de passe : </label>
    <input type="text" id="password">
    <input type="submit">
</form>