<section class="row">
    <div class="col-4">
        <aside>
            <img src="/images/vips.png" alt="VIPs">
            <ul>
                <li>Ajouter</li>
                <li>Modifier</li>
                <li>Supprimer</li>
            </ul>
        </aside>
    </div>
    <div class="col-8">
        <form>
            <h2>Ajout VIPs</h2>
            <label for="">Nom* : </label><input type="text">
            <label for="">Prénom* : </label><input type="text">
            <label for="">Sexe : </label><input type="text">
            <label for="">Date de naissance : </label><input type="text">
            <label for="">Nationalité : </label><input type="text">
            <label for="">Commentaire : </label><input type="text">
            <label for="">Sélectionner l'image</label><input type="text">
            <label for="">Sujet : </label><input type="text">
            <label for="">Commentaire : </label><input type="text">
        </form>
    </div>
</section>
