<section class="row">
    <div class="col-4">
        <aside>
            <img src="/images/vips.png" alt="VIPs">
            <ul>
                <li>Ajouter</li>
                <li>Modifier</li>
                <li>Supprimer</li>
            </ul>
        </aside>
    </div>
    <div class="col-8">
        {{>partialAdd}}
    </div>
<!--    <div class="col-8">-->
<!--        {{>partialModification}}-->
<!--    </div>-->
<!--    <div class="col-8">-->
<!--        {{>partialDelete}}-->
<!--    </div>-->
</section>
